.*.sw[ponxmn]
Debian_CPANTS.txt
.vimtagsdisplay
tags
Build
MYMETA.*
META.*
Makefile.PL
_build*
blib*
Makefile
pm_to_blib*
.lwpcookies
cover_db
nytprof*
.prove
tmp*
*~
errors.err
.ignore
docperl.conf
vimall.sh
MANIFEST.SKIP.bak
.svnignore
tags
TODO
.vimtagsdisplay
