# This section allows for the getting of documentation of files not in the @INC path
[LocalFolders]

Path:			.
Match:			\.(?:pm|pl|pod|cgi)$
Exclude:		./data
suffixes:		pod
suffixes:		pm
suffixes:		pl
suffixes:		cgi

# Info about extra paths to add to @INC ...
[IncFolders]

Path:			.
Match:			\.(?:pm|pod)$
Exclude:		./data
suffixes:		pod
suffixes:		pm
suffixes:		pl
#suffixes:		cgi

# Details of template usage
[Templates]

Path:			./data/templates/local:./data/templates/default
history_size:	10

# Parameters always passed to templates
[Template]

# Uncomment to show the local modules only (and not the perl documentation or
# installed modules)
#LocalOnly:		true

# Set the labels for the various sections on the list page
LocalLabel:		Local Programs
IncLabel:		Installed Modules
PerlLabel:		Perl

# Uncomment to allow web users to clear the current cache
# Note: Turining this on is only recomended for non public DocPerl
#	installations as this could cause a large amount of load to the server
#	if random people clear the cache for no good reason
#ClearCache:	on

# General configuration
[General]

# the location of the data directory
Data:			./data
#Cache:			off

