.left {
    width: 270px;
}
.left h2 {
    text-align: center;
    background-color: #BBC5BB;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 10px;
}
.left h3 {
    background-color: #BBC5BB;
    border: 1px 0 1px 0 solid silver;
    margin-bottom: 5px;
    color: white;
    padding: 3px;
}
