[% PROCESS strings.tmpl -%]
[% UNLESS ApiColumns %][% ApiColumns = 3 %][% END -%]
[% WRAPPER module_head.html.tmpl
	view = 'API' %]
	<div id="api">
		<h1>[% module %]</h1>
		<div class="hierarchy">
			<div>Class Inheritance</div>
			[% INCLUDE class_hierarchy
				list  = api.hierarchy,
				first = 1
			%]
			[% BLOCK class_hierarchy %]
				[% IF list.size %]
				<ul>
					[% FOR item = list %]
					<li>
						[% UNLESS first %]<a href="?page=module&module=[% item.class %]&location=[% location %]" target="main">[% END %]
							[% item.class %]
						[% UNLESS first %]</a>[% END %]
						[%- IF item.hierarchy %]
							[% INCLUDE class_hierarchy
								list  = item.hierarchy,
								first = 0
							%]
						[% END %]
					</li>
					[% END %]
				</ul>
				[% END %]
			[% END %]
		</div>
		[% UNLESS api %]
		API Missing
		[% END %]
		<table>
			[% IF api.package %]
			<tr>
				<th>[% str_package %]</th>
				<td colspan="[% ApiColumns %]">[% module %]</td>
			</tr>
			[% END -%]
			[% IF api.packages %]
			<tr>
				<th rowspan="[% (api.packages.size - api.packages.size % ApiColumns + ApiColumns) / ApiColumns %]">[% str_other_package %]</th>
				[% counter = 1 -%]
				[% FOR package = api.packages %]
				<td[% IF counter == api.packages.size %] colspan="[% ApiColumns - api.packages.size % ApiColumns + 1 %]"[% END %]>
					[% package %]
				</td>
					[% IF counter % ApiColumns == 0 %]
			</tr>
			<tr>
					[%- END -%]
					[% counter = counter + 1 -%]
				[% END %]
			</tr>
			[% END -%]
			[% IF api.version %]
			<tr>
				<th>[% str_version %]</th>
				<td colspan="[% ApiColumns %]">[% api.version %]</td>
			</tr>
			[% END -%]
			<tr>
				<th>[% str_file %]</th>
				<td colspan="[% ApiColumns %]">[% api.size %] bytes, [% api.lines %] lines</td>
			</tr>
			<tr>
				<th>[% str_contains_pod %]</th>
				<td colspan="[% ApiColumns %]">[% IF api.pod %][% api.pod %] Lines[% ELSE %]No POD[% END %]</td>
			</tr>
			[% IF api.modules %]
			<tr>
				<th rowspan="[% (api.modules.size - api.modules.size % ApiColumns + ApiColumns) / ApiColumns %]">[% str_modules %]</th>
				[% counter = 1 -%]
				[% FOR inc_module = api.modules %]
				<td[% IF counter == api.modules.size %] colspan="[% ApiColumns - api.modules.size % ApiColumns + 1 %]"[% END %]>
					<a href="?page=module&module=[% inc_module %]&location=[% location %]" target="main">
						[% inc_module %]
					</a>
				</td>
					[% IF counter % ApiColumns == 0 %]
			</tr>
			<tr>
					[%- END -%]
					[% counter = counter + 1 -%]
				[% END %]
			</tr>
			[% END -%]
			[% IF api.parents -%]
			<tr>
				<th rowspan="[% (api.parents.size - api.parents.size % ApiColumns + ApiColumns) / ApiColumns || 1 %]">[% str_inherited_modules %]</th>
				[% counter = 1 -%]
				[% FOR inc_parents = api.parents %]
				<td[% IF counter == api.parents.size %] colspan="[% ApiColumns - api.parents.size % ApiColumns + 1 %]"[% END %]>
					<a href="?page=module&module=[% inc_parents %]&location=[% location %]" target="main">
						[% inc_parents %]
					</a>
				</td>
					[% IF counter % ApiColumns == 0 %]
			</tr>
			<tr>
					[%- END -%]
					[% counter = counter + 1 -%]
				[% END -%]
			</tr>
			[% END %]
			[% IF api.class -%]
			<tr>
				<th rowspan="[% (api.class.size - api.class.size % ApiColumns + ApiColumns) / ApiColumns || 1 %]">[% str_class_methods %]</th>
				[% counter = 1 -%]
				[% FOR sub = api.class %]
				<td[% IF counter == api.class.size %] colspan="[% ApiColumns - api.class.size % ApiColumns + 1 %]"[% END %]>
					<a href="?page=code&amp;module=[% module %]&amp;location=[% location %]&amp;source=[% source %]#line[% sub.line %]">
						[% sub.name %]
					</a>
				</td>
					[% IF counter % ApiColumns == 0 %]
			</tr>
			<tr>
					[%- END -%]
					[% counter = counter + 1 -%]
				[% END %]
			</tr>
			[% END -%]
			[% IF api.object -%]
			<tr>
				<th rowspan="[% (api.object.size - api.object.size % ApiColumns + ApiColumns) / ApiColumns || 1 %]">[% str_object_methods %]</th>
				[% counter = 1 -%]
				[% FOR sub = api.object %]
				<td[% IF counter == api.object.size %] colspan="[% ApiColumns - api.object.size % ApiColumns + 1 %]"[% END %]>
					<a href="?page=code&amp;module=[% module %]&amp;location=[% location %]&amp;source=[% source %]#line[% sub.line %]">
						[% sub.name %]
					</a>
				</td>
					[% IF counter % ApiColumns == 0 %]
			</tr>
			<tr>
					[%- END -%]
					[% counter = counter + 1 -%]
				[% END %]
			</tr>
			[% END -%]
			[% IF api.func -%]
			<tr>
				<th rowspan="[% (api.func.size - api.func.size % ApiColumns + ApiColumns) / ApiColumns || 1 %]">[% str_general_subroutines %]</th>
				[% counter = 1 -%]
				[% FOR sub = api.func %]
				<td[% IF counter == api.func.size %] colspan="[% ApiColumns - api.func.size % ApiColumns + 1 %]"[% END %]>
					<a href="?page=code&amp;module=[% module %]&amp;location=[% location %]&amp;source=[% source %]#line[% sub.line %]">
						[% sub.name %]
					</a>
				</td>
					[% IF counter % ApiColumns == 0 %]
			</tr>
			<tr>
					[%- END -%]
					[% counter = counter + 1 -%]
				[% END %]
			</tr>
			[% END -%]
			[% IF api.vars -%]
			<tr>
				<th rowspan="[% (api.vars.size - api.vars.size % ApiColumns + ApiColumns) / ApiColumns || 1 %]">[% str_package_variables %]</th>
				[% counter = 1 -%]
				[% FOR vars = api.vars %]
				<td[% IF counter == api.vars.size %] colspan="[% ApiColumns - api.vars.size % ApiColumns + 1 %]"[% END %]>
					<a href="?page=code&amp;module=[% module %]&amp;location=[% location %]&amp;source=[% source %]#line[% vars.line %]">
						[% vars.name %]
					</a>
				</td>
					[% IF counter % ApiColumns == 0 %]
			</tr>
			<tr>
					[%- END -%]
					[% counter = counter + 1 -%]
				[% END %]
			</tr>
			[% END -%]
		</table>
		<!--pre>[%# DUMP %]</pre-->
		<br />
		<br />
		<div id="note">
			<b>Note:</b> [% str_api_note %]<br />
			<div id="details">
				<div>
					<i>[% str_class_methods_note %]</i> [% str_api_notes_final %]
					<pre style="width:18em;float: left">
sub class_method {
	my $class = shift;
	...
}</pre>
					<div style="float:left;padding:5px"><br />or</div>
					<pre style="width:18em;float: left">
sub class_method {
	my $caller = shift;
	...
}</pre>
				</div>
				<div style="clear:both;">
					<i>Object Methods</i> are assumed to be in one of the following forms:
					<pre style="width:18em;float: left">
sub object_method {
	my $self = shift;
	...
}</pre>
					<div style="float:left;padding:5px"><br />or</div>
					<pre style="width:18em;float: left">
sub object_method {
	my $this = shift;
	...
}</pre>
					<div style="float:left;padding:5px;clear:left;"><br />or</div>
					<pre style="width:20em;float: left">
sub object_method {
	my ( $self, ... ) = @_;
	...
}</pre>
					<div style="float:left;padding:5px"><br />or</div>
					<pre style="width:20em;float: left">
sub object_method {
	my ( $this, ... ) = @_;
	...
}</pre>
				</div>
			</div>
		</div>
	</div>
[% END -%]
