[% PROCESS strings.tmpl -%]
[% WRAPPER module_head.html.tmpl
	view = 'Code' %]
	<div id="code">
		<pre>
			[%- FOR line = lines %]
<a name="line[% line.line_no %]" class="line_no"> [% line.line_no %] </a>[% IF line.ext_link %]<a name="[% line.ext_link %]"></a>[% END %] [% line.code -%]
			[%- END -%]
		</pre>
	</div>
[% END -%]
