html {
	padding:            0px;
	margin:             0px;
}
body {
	padding:            0px;
	margin:             0px;
}
#headding {
	position:           fixed;
	background-color:   white;
}
#headding h1 {
	float:              left;
	padding-top:        0px;
	padding-bottom:     0px;
	margin-top:         0px;
	margin-bottom:      0px;
}
#headding ul {
	display:            inline;
}
#headding li {
	display:            inline;
}
#headding hr {
	margin:             5px 0px 1px 0px;
}
#headding pre {
	 display:           none;
}
#headding table {
	width:              100%;
	vertical-align:     middle;
	text-align:         center;
	clear:              both;
}
#headding table th {
	text-align:         left;
	padding-left:       5px;
}
#headding table td {
	text-align:         right;
	padding-right:      5px;
}
#content {
	 padding:           9px;
}
#api pre {
	padding:            3px;
	border-radius:      5px;
	font-family:        sans-serif;
	font-size:          8pt;
	-moz-border-radius: 5px;
}
#api table {
	border:             1px outset;
	width:              500px;
	overflow:           visible;
	border-collapse:    collapse;
}
#api th, #api td {
	border:             1px inset;
	font-size:          10pt;
	padding:            2px;
}
#api td {
	width:              [% UNLESS ApiColumns %][% ApiColumns = 2 %][% END %][% 1 / (1 + ApiColumns) * 100  %]%;
}
#api th {
	text-align:         right;
	width:              160px;
}
#api td.double_list {
	padding:            0px;
}
#api td.double_list > table {
	border-width:       0px;
	margin:             0px;
	width:              100%;
}
#api td.double_list > table td {
	border-width:       0px 1px 0px 0px;
	padding:            2px;
	margin:             0px;
	width:              50%;
}
#api ul {
	margin:             0px;
	padding:            5px;
	list-style-type:    none;
}
#api div ul ul {
	margin-left:        10px;
}
.hirachy {
	float:              right;
	border:             1px solid black;
	border-radius:      3px;
	-moz-border-radius: 3px;
}
#api .hirachy > div {
	border:             1px solid black;
	border-left:        0px;
	border-right:       0px;
	border-top:         0px;
	font-weight:        bold;
	font-size:          1.2em;
	font-family:        sans-serif;
	padding:            1px 5px 1px 5px;
	text-align:         center;
	border-radius:      3px;
	-moz-border-radius: 3px 3px 0px 0px;
}
#api #note {
	clear:              both;
	font-size:          0.8em;
}
#api #note #details {
	clear:              both;
	display:            none;
}
#api #note:hover #details {
	display:            block;
}

#code a.line_no {
	background-color:   blue;
	color:              black;
	width:              4em;
	text-align:         right;
	display:            block;
	float:              left;
}
#code .reserved {
	color:              red;
}
#code .pod {
	color:              #A23;
}
#code .comment {
	color:              #A41;
}
#code .builtin {
	color:              #36E;
}
#code .other {
	color:              #E33;
}
#code .operator {
	color:              #4A4;
}
#code .logic {
	color:              #92D;
}
#code .declatory {
	color:              #F66;
}
#code pre {
	padding:            0px;
}
