/*
 *
 */

pre {
	background-color:	#EEE;
	border:				solid 1px grey;
	padding:			12px;
	font-size:          9pt;
}
body {
	font-family:        arial,sans-serif;
	font-size:          11pt;
}
h1, h2, h3, h4, h5, h6 {
	font-family:		sans-serif;
	color:              #069;
	-moz-border-radius: 5px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration:    none;
}
h1:after, h2:after, h3:after, h4:after, h5:after, h6:after {
	content:            ' |+|';
}
h1 {
	font-size:          large;
}
h2 {
	font-size:          medium;
}
h3 {
}
h4 {
}
hr {
}

dl dl {
	margin-left:		2em;
}

td {
	padding-left:		2px;
	padding-right:		2px;
}
