[% PROCESS strings.tmpl -%]
/**
 *  Author: Ivan Wills
 *  Copyright: Ivan Wills (c) 2007
 *
 *  Emulates the CPAN style sheets
 */

.right pre {
	background-color:   #EEE;
	border:             solid 1px grey;
	padding:            12px;
	font-size:          9pt;
}
.right code {
	font-weight:        lighter;
}
.right body {
	font-family:        arial,sans-serif;
	font-size:          11pt;
}
.right h1, .right h2, .right h3, .right h4, .right h5, .right h6 {
	font-family:        sans-serif;
	-moz-border-radius: 5px;
}
.right h1 a, .right h2 a, .right h3 a, .right h4 a, .right h5 a, .right h6 a {
	text-decoration:    none;
	color:              #069;
}
.right h1 {
	font-size:          large;
}
.right h1 div.up {
	border:             1px solid;
	height:             16px;
	width:              16px;
	display:            inline;
	font-size:          smaller;
	padding:            0px 3px 0px 3px;
}
.right h1 a.code,
.right h2 a.code,
.right h3 a.code,
.right h4 a.code {
	border:             1px solid;
	height:             16px;
	width:              16px;
	font-size:          smaller;
	text-align:         center;
	vertical-align:     middle;
	padding:            0px 4px 0px 4px;
}
.right h2,
.right h3 {
	font-size:          medium;
}
.right h3 {
	font-style:         italic;
	padding-left:       0px;
	background-color:   transparent;
}
.right h4 {
}
.right hr {
}

.right dl dl {
	margin-left:        2em;
}
.right dt {
	font-weight:        lighter;
}
.right dd {
    margin-left:        2em;
}
.right td {
	padding-left:       2px;
	padding-right:      2px;
}
.right ul.menu, .right ul.menu ul {
	list-style-type:    none;
}
.right ul.menu li, .right ul.menu ul li {
	list-style-type:    none;
}
.right li.level1 a,
.right li.level2 a,
.right li.level3 a,
.right li.level4 a {
	text-decoration:    none;
	color:              #069;
	font-size:          1em;
}
.right li.level1 {
	padding-left:       0em;
}
.right li.level2 {
	padding-left:       3em;
}
.right li.level3 {
	padding-left:       6em;
}
.right li.level4 {
	padding-left:       9em;
}
#file_selector {
    display:            none;
}
