/* 
 * 
 */

pre {
	background-color:	#EEE;
	border:				solid 1px black;
	padding:			2px;
}
body {
	font-family:		sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	background-color:	#ADA;
	font-family:		serif;
	-moz-border-radius:	5px;
}
h1 {
	padding-left:		4px;
}
h2 {
	padding-left:		8px;
	background-color:	#BBC5BB;
}
h3 {
	padding-left:		12px;
}
h4 {
	padding-left:		16px;
}
hr {
}

dl dl {
	margin-left:		2em;
}
