[% UNLESS history_size %][% history_size = 10 %][% END -%]
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-AU" xml:lang="en-AU">
	<head>
		<title>DocPerl Index</title>
		<meta http-equiv="Content-Type"		content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language"	content="en-au" />
		<meta name="author"		 content="Ivan Wills" />
		<meta name="copyright"	 content="Copyright (c) 2006 Ivan Wills, All Rights Reserved" />
		<meta name="description" content="" />
		<meta name="keywords"	 content="" />
		<style type="text/css">
		<!--/* <![CDATA[ */
			@import url("?page=css.css");
			body {
				font-size:			8pt;
				padding:			0px;
				margin:				0px;
			}
			h1, h2, h3 {
				margin-top:			0px;
				padding:			5px 2px 4px 2px;
				font-family:		sans-serif;
			}
			h1 {
				font-size:			1.4em;
				text-align:			center;
				-moz-border-radius:	0px;
			}
			h2 {
				font-size:			1.2em;
				-moz-border-radius:	0px;
				
			}
			table {
				font-size:			0.9em;
				
			}
			ul {
				font-size:			1em;
				list-style-type:	none;
				padding-left:		0px;
				margin-left:		0px;
			}
			li {
				clear:				left;
			}
			ul li {
				padding-left:		0.3em;
			}
			ul ul {
				padding-left:		0.3em;
				margin-left:		0.3em;
			}
			li > ul {
				display:			none;
			}
			.plus {
				padding-left:		2px;
				padding-right:		2px;
				border-style:		solid;
				border-width:		1px;
			}
			.mod_expand {
				width:				1em;
				margin-right:		0.8em;
				text-align:			center;
				vertical-align:		middle;
				display:			block;
				float:				left;
				border-style:		solid;
				border-width:		1px;
				clear:				left;
				-moz-border-radius:	4px;
				border-radius:		4px;
				text-decoration:	none;
			}
			.mod_expand {
				-moz-border-radius:	3px;
				border-radius:		3px;
			}
			.info {
				width:				10px;
				-moz-border-radius:	10px;
				border-width:		1px;
				border-color:		red;
				border-style:		solid;
				float:				right;
				text-align:			center;
			}
			.info span {
				display:			none;
				float:				right;
				border:				1px solid black;
				background-color:	white;
				padding:			3px;
				position:			relative;
				left:				1px;
				top:				1px;
			}
			.info:hover span {
				display:			block;
			}
		/* ]]> */-->
		</style>
		<script type="text/javascript">
		<!--
			[% js.pod %]
			[% js.inc %]
			[% js.local %]
			[% perl %]
			[% inc %]
			[% local %]
			var links = new Array();
			var level;
			var group = 0;
			var counter = { perl:0, local:0, inc:0 };
			
			function setup_modules() {
				// set up each of perl, inc and local
				if ( group == 0 ) {
					level = 0;
					[% IF LocalOnly %]
					group = 3;
					[% ELSE %]
					group++;
					[% END %]
					create_tree( local,	'local',	'local' );
					count_tree( local, 'local' );
					setTimeout( setup_modules, 10 );
				}
				else if ( group == 1 ) {
					level = 0;
					var total_perl = create_tree( perl,	'perl',	'perl' );
					count_tree( perl, 'perl' );
					group++;
					setTimeout( setup_modules, 10 );
				}
				else if ( group == 2 ) {
					level = 0;
					group++;
					create_tree( inc,	'inc',	'inc' );
					count_tree( inc, 'inc' );
					setTimeout( setup_modules, 10 );
				}
				else if ( group == 3 ) {
					group++;
					var name = 'DocPerl_recent';
					if ( exists_cookie( name ) ) {
						var list	= get_cookie( name );
						var modules	= list.split(':');
						
						for ( var module in modules ) {
							display_recent( modules[module] );
						}
					}
					setTimeout( setup_modules, 10 );
				}
				else if ( group == 4 ) {
					level = 0;
					group++;
					setTimeout( setup_modules, 10 );
				}
			}
		//-->
		</script>
		<script type="text/javascript" src="?page=list.js&amp;sidebar=[% IF sidebar %]1[% ELSE %]0[% END %]"></script>
	</head>
	<body onload="setup_modules();">
	
		<h1>Perl Documentation</h1>
		<!--h2>Search</h2-->
		<center>
			<!--form action="" onsubmit="search(); return false;"-->
			<table>
				<tr>
					<th>Search&nbsp;:&nbsp;</th>
					<td><input type="text" name="search" id="search" size="15" onkeyup="search(false);"/></td>
				</tr>
				<tr>
					<td colspan="2" style="text-align: center"><input type="button" value="Find Modules" onclick="search(true);"/></td>
				</tr>
			</table>
			<!--/form-->
		</center>
		<div id="results_doc" style="display:none">
			<h2 id="results_head">
			<a id="plus__results" href="javascript: section_toggle('results');" class="mod_expand" title="Hide">-</a>
			Search Results (<span id="results_count">0</span>)</h2>
			<div id="results">
			</div>
		</div>
		<div id="recent_doc" style="display:none">
			<h2 id="recent_head">
			<a id="plus__recent" href="javascript: section_toggle('recent');" class="mod_expand" title="Hide">-</a>
			Recent Modules (<span id="recent_count">0</span>)</h2>
			<div id="recent">
				<ul id="ul_recent" class="mod_list" style="display:block">
					<li></li>
				</ul>
			</div>
		</div>
		[% UNLESS LocalOnly %]
		<div id="perl_doc">
			<h2 id="perl_head"><span class="info">i<span>[% perl_path %]</span></span>
			<a id="plus__perl" href="javascript: section_toggle('perl');" class="mod_expand" title="Hide">-</a>
			[% PerlLabel || 'Perl' %] (<span id="perl_count">0</span>)</h2>
			<div id="perl">
			</div>
		</div>
		[%- END %]
		<div id="local_doc">
			<h2 id="local_head"><span class="info">i<span>[% local_path %]</span></span>
			<a id="plus__local" href="javascript: section_toggle('local');" class="mod_expand" title="Hide">-</a>
			[% LocalLabel || 'Local Programs' %] (<span id="local_count">0</span>)</h2>
			<div id="local">
			</div>
		</div>
		[% UNLESS LocalOnly %]
		<div id="inc_doc">
			<h2 id="inc_head"><span class="info">i<span>[% inc_path %]</span></span>
			<a id="plus__inc" href="javascript: section_toggle('inc');" class="mod_expand" title="Hide">-</a>
			[% IncLabel || 'Installed Modules' %] (<span id="inc_count">0</span>)</h2>
			<div id="inc">
			</div>
		</div>
		[%- END %]
		<hr />
		<a href="http://docperl.sourceforge.net/" target="_blank">DocPerl Home Page</a>
		[% IF ClearCache -%]
		<br />
		<a href="?clearcache=1" target="_top">Clear Cache</a>
		[%- END %]
		<br />
		<a href="?page=list&amp;sidebar=1">Bookmark for Firefox sidebar</a>
		<br />
		<a href="?" id="current-link" onmouseover="update_current_link();">Bookmark the page</a>
		[% IF Debug %]
		<div id="debug"></div>
		[% END %]
		<hr />
	</body>
</html>
