[% PROCESS strings.tmpl -%]
[% UNLESS history_size %][% history_size = 10 %][% END -%]
[% UNLESS animation %][% animation = 60000 %][% END -%]
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-AU" xml:lang="en-AU">
	<head>
		<title>DocPerl Index</title>
		<meta http-equiv="Content-Type"     content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="en-au" />
		<meta name="author"      content="Ivan Wills" />
		<meta name="copyright"   content="Copyright (c) 2006 Ivan Wills, All Rights Reserved" />
		<meta name="description" content="" />
		<meta name="keywords"    content="" />
		<style type="text/css">
		<!--/* <![CDATA[ */
			@import url("?page=css.css");
			body {
				font-size:          8pt;
				padding:            0px;
				margin:             0px;
			}
			h1, h2, h3 {
				margin-top:         0px;
				padding:            5px 2px 4px 2px;
				font-family:        sans-serif;
			}
			h1 {
				font-size:          1.4em;
				text-align:         center;
				-moz-border-radius: 0px;
			}
			h2 {
				font-size:          1.2em;
				-moz-border-radius: 0px;
			}
			table {
				font-size:          0.9em;
			}
			ul {
				font-size:          1em;
				list-style-type:    none;
				padding-left:       0px;
				margin-left:        0px;
			}
			li {
				clear:              left;
			}
			ul li {
				padding-left:       0.3em;
			}
			ul ul {
				padding-left:       0.3em;
				margin-left:        0.3em;
			}
			li > ul {
				display:            none;
			}
			.plus {
				padding-left:       2px;
				padding-right:      2px;
				border-style:       solid;
				border-width:       1px;
			}
			.mod_expand {
				width:              1em;
				margin-right:       0.8em;
				text-align:         center;
				vertical-align:     middle;
				display:            block;
				float:              left;
				border-style:       solid;
				border-width:       1px;
				clear:              left;
				-moz-border-radius: 4px;
				border-radius:      4px;
				text-decoration:    none;
			}
			.mod_expand {
				-moz-border-radius: 3px;
				border-radius:      3px;
			}
			.info {
				width:              10px;
				-moz-border-radius: 10px;
				border-width:       1px;
				border-color:       red;
				border-style:       solid;
				float:              right;
				text-align:         center;
			}
			.info span {
				display:            none;
				float:              right;
				border:             1px solid black;
				background-color:   white;
				padding:            3px;
				position:           relative;
				left:               1px;
				top:                1px;
			}
			.info:hover span {
				display:            block;
			}
			#adv_open,
			#adv_close {
				border:             solid black 1px;
				padding:            2px;
				font-weight:        bold;
				font-size:          1.4em;
				cursor:             pointer;
			}
			#adv_open {
			}
			#adv_close {
				display:           none;
			}
			#advanced {
				display:           none;
			}
			#advanced label,
			#advanced select {
				font-size:         1.2em;
			}
		/* ]]> */-->
		</style>
		<script type="text/javascript" src="?page=list.js&amp;sidebar=[% IF sidebar %]1[% ELSE %]0[% END %]"></script>
		<script type="text/javascript">
		<!--/* <![CDATA[ */
			[% js.pod %]
			[% js.inc %]
			[% js.local %]
			[% perl %]
			[% inc %]
			[% local %]
			var links = [];
			var level;
			var group = 0;
			var counter = { perl:0, local:0, inc:0 };

			function setup_modules() {
				// set up each of perl, inc and local
				if ( group == 0 ) {
					level = 0;
					[% IF LocalOnly %]
					group = 3;
					[% ELSE %]
					group++;
					[% END %]
					create_tree( local, 'local', 'local' );
					add_count( 'local', count_tree( local, 'local' ) );
					setTimeout( setup_modules, 10 );
					if ( get_cookie('local') == 'hide' )
						section_toggle('local');
				}
				else if ( group == 1 ) {
					level = 0;
					var total_perl = create_tree( perl, 'perl', 'perl' );
					add_count( 'perl', count_tree( perl, 'perl' ) );
					group++;
					setTimeout( setup_modules, 10 );
					if ( get_cookie('perl') == 'hide' )
						section_toggle('perl');
				}
				else if ( group == 2 ) {
					level = 0;
					group++;
					create_tree( inc, 'inc', 'inc' );
					add_count( 'inc', count_tree( inc, 'inc' ) );
					setTimeout( setup_modules, 10 );
					if ( get_cookie('inc') == 'hide' )
						section_toggle('inc');
				}
				else if ( group == 3 ) {
					group++;
					var name = 'DocPerl_recent';
					if ( exists_cookie( name ) ) {
						var list    = get_cookie( name );
						var modules = list.split(':');
						for ( var module in modules ) {
							display_recent( modules[module] );
						}
					}
					setTimeout( setup_modules, 10 );
					if ( get_cookie('recent') == 'hide' )
						section_toggle('recent');
				}
				else if ( group == 4 ) {
					level = 0;
					group++;
					setTimeout( setup_modules, 10 );
					setTimeout( fade_headding, [% animation %] );
				}
				else if ( group == 5 ) {
					level = 0;
					group++;
					setTimeout( setup_modules, 10 );
					var open_str  = get_cookie('DocPerl_opened');
					if (!open_str) return;
					var open_list = open_str.split(':').sort();
					for ( var i = 0; i < open_list.length; i++ ) {
						list_toggle(open_list[i]);
					}
				}
			}
			var state      = 'perl';
			var fade_count = 0;
			var FADE_MAX   = 60;
			function animate_headding () {
				var head = document.getElementById('headding');
				fade_count = 0;
				if ( state == 'perl' ) {
					state = 'docperl';
					head.replaceChild( document.createTextNode('DocPerl'), head.firstChild );
				}
				else {
					state = 'perl';
					head.replaceChild( document.createTextNode('Perl\240Documentation'), head.firstChild );
				}
				setTimeout( fade_headding, [% animation %] );
			}
			function fade_headding () {
				var head = document.getElementById('headding');
				head.textContent = '\240' + head.textContent;
				setTimeout( FADE_MAX == ++fade_count ? animate_headding : fade_headding, 100 );
			}
			function adv_open() {
				var adv   = document.getElementById('advanced');
				var open  = document.getElementById('adv_open');
				var close = document.getElementById('adv_close');
				adv.style.display = 'block';
				open.style.display = 'none';
				close.style.display = 'block';
				adv_cpan();
			}
			function adv_close() {
				var adv   = document.getElementById('advanced');
				var open  = document.getElementById('adv_open');
				var close = document.getElementById('adv_close');
				adv.style.display = 'none';
				open.style.display = 'block';
				close.style.display = 'none';
			}
			function adv_cpan() {
				if (document.getElementById('type_cpan').checked) {
					document.getElementById('mode').disabled = false;
				}
				else {
					document.getElementById('mode').disabled = 'disabled';
				}
			}
		/* ]]> */-->
		</script>
	</head>
	<body onload="setup_modules();">
		<h1 id="headding" style="overflow: hidden">Perl&nbsp;Documentation</h1>
		<!--h2>Search</h2-->
		<center style="padding-bottom: 1em">
			<table>
				<tr>
					<td class="advanced">
						<div id="adv_open"  onclick="adv_open(); " title="[% str_adv_open_title %] ">&#8595;</div>
						<div id="adv_close" onclick="adv_close();" title="[% str_adv_close_title %]">&#8593;</div>
					</td>
					<td><input type="text" name="search" id="search" size="15" onkeyup="search(false);" title="[% str_search_input_title %]"/></td>
					<td><input type="button" value="Search" onclick="search(true);"/></td>
				</tr>
				<tr>
					<td colspan="3" style="vertical-align: middle; text-align: center; font-size: 0.8em;">
						<div id="advanced">
							<input type="checkbox" id="type_names"     name="type" value="modules" checked="checked" /><label>[% str_search_check_module %]</label>&nbsp;&nbsp;
							<input type="checkbox" id="type_pod"       name="type" value="pod"      /><label>[% str_search_check_pod %]</label>&nbsp;&nbsp;
							<input type="checkbox" id="type_functions" name="type" value="functions"/><label>[% str_search_check_func %]</label><br/>
							<input type="checkbox" id="type_cpan"      name="type" value="functions" onchange="adv_cpan();"/><label>[% str_search_check_cpan %]</label>&nbsp;&nbsp;
							<select name="mode" id="mode" disabled="disabled">
								<option value="all"   >[% str_search_cpan_all    %]</option>
								<option value="module">[% str_search_cpan_module %]</option>
								<option value="dist"  >[% str_search_cpan_dist   %]</option>
								<option value="author">[% str_search_cpan_author %]</option>
							</select>
						</div>
					</td>
				</tr>
			</table>
		</center>
		<div id="functions_doc" style="display:none">
			<h2 id="functions_head">
			<a id="plus__functions" href="javascript: section_toggle('functions');" class="mod_expand" title="[% str_section_hide %]">-</a>
			[% str_list_search_func %] (<span id="functions_count">0</span>)</h2>
			<div id="functions">
			</div>
		</div>
		<div id="pod_doc" style="display:none">
			<h2 id="pod_head">
			<a id="plus__pod" href="javascript: section_toggle('pod');" class="mod_expand" title="[% str_section_hide %]">-</a>
			[% str_list_search_pod %] (<span id="pod_count">0</span>)</h2>
			<div id="pod">
			</div>
		</div>
		<div id="names_doc" style="display:none">
			<h2 id="names_head">
			<a id="plus__names" href="javascript: section_toggle('names');" class="mod_expand" title="[% str_section_hide %]">-</a>
			[% str_list_search_module %] (<span id="names_count">0</span>)</h2>
			<div id="names">
			</div>
		</div>
		<div id="recent_doc" style="display:none">
			<h2 id="recent_head">
			<a id="plus__recent" href="javascript: section_toggle('recent');" class="mod_expand" title="[% str_section_hide %]">-</a>
			[% str_list_recent %] (<span id="recent_count">0</span>)</h2>
			<div id="recent">
				<ul id="ul_recent" class="mod_list" style="display:block">
					<li></li>
				</ul>
			</div>
		</div>
		[% UNLESS LocalOnly %]
		<div id="perl_doc">
			<h2 id="perl_head"><span class="info">i<span>[% perl_path %]</span></span>
			<a id="plus__perl" href="javascript: section_toggle('perl');" class="mod_expand" title="[% str_section_hide %]">-</a>
			[% PerlLabel || str_list_perl %] (<span id="perl_count">0</span>)</h2>
			<div id="perl">
			</div>
		</div>
		[%- END %]
		<div id="local_doc">
			<h2 id="local_head"><span class="info">i<span>[% local_path %]</span></span>
			<a id="plus__local" href="javascript: section_toggle('local');" class="mod_expand" title="[% str_section_hide %]">-</a>
			[% LocalLabel || str_list_local %] (<span id="local_count">0</span>)</h2>
			<div id="local">
			</div>
		</div>
		[% UNLESS LocalOnly %]
		<div id="inc_doc">
			<h2 id="inc_head"><span class="info">i<span>[% inc_path %]</span></span>
			<a id="plus__inc" href="javascript: section_toggle('inc');" class="mod_expand" title="[% str_section_hide %]">-</a>
			[% IncLabel || str_list_inc %] (<span id="inc_count">0</span>)</h2>
			<div id="inc">
			</div>
		</div>
		[%- END %]
		<hr />
		<div style="padding-left: 3px">
			<a href="http://docperl.sourceforge.net/" target="_blank">[% str_link_docperl_home %]</a>
			[% IF ClearCache -%]
			<br />
			<a href="?clearcache=1" target="_top">[% str_link_clear_cache %]</a>
			[%- END %]
			<br />
			<a href="?page=list&amp;sidebar=1">[% str_link_firefox %]</a>
			<br />
			<a href="?" id="current-link" onmouseover="update_current_link();">[% str_link_bookmark %]</a>
			[% IF Debug %]
			<div id="debug"></div>
			[% END %]
		</div>
		<hr />
	</body>
</html>
