<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-AU" xml:lang="en-AU">
	<head>
		<title>[% module %] - [% view %]</title>
		<meta http-equiv="Content-Type"		content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language"	content="en-au" />
		<meta name="author"		 content="Ivan Wills" />
		<meta name="copyright"	 content="Copyright (c) 2006 Ivan Wills, All Rights Reserved" />
		<meta name="description" content="" />
		<meta name="keywords"	 content="" />
		<style type="text/css">
		<!--/* <![CDATA[ */
			@import url("?page=common.css");
			@import url("?page=[% StyleSheet || 'cpan' %].css");
		/* ]]> */-->
		</style>
		<script type="text/javascript">
		<!--

		//-->
		</script>
	</head>
	<body>
		<div id="headding" style="position: fixed; background-color: white">
			<table style="width:100%; vertical-align:middle; text-align: center; clear: both; ">
	[%- FOR source = sources -%]
				<tr>
					<th>[% IF !first %][% first = 1 %][% module %][% END %]</th>
					<td><a title="Documentation [% module %]"  href="?page=pod&amp;module=[% module %]&amp;file=[% file %]&amp;location=[% location %]&amp;source=[% source.file %]"> POD </a></td>
		[%- IF show_text -%]
					<td><a title="Documentation [% module %]"  href="?page=text&amp;module=[% module %]&amp;file=[% file %]&amp;location=[% location %]&amp;source=[% source.file %]"> Text </a></td>
		[%- END -%]
					<td>
		[%- UNLESS source.suffix == 'pod' -%]
					<a title="Functions defined, modules used, inheritance etc" href="?page=api&amp;module=[% module %]&amp;file=[% file %]&amp;location=[% location %]&amp;source=[% source.file %]"> API </a>
		[%- END -%]
					</td>
					<td><a title="View source code" href="?page=code&amp;module=[% module %]&amp;file=[% file %]&amp;location=[% location %]&amp;source=[% source.file %]">CODE</a></td>
		[%- IF location != 'local' %]
					<td><a title="See latest documentation on CPAN" href="http://search.cpan.org/search?query=[% module %]&amp;mode=module"> CPAN</a></td>
		[%- END -%]
				</tr>
	[%- END -%]
			</table>
			<pre>
				[%# DUMP %]
			</pre>
			<hr style="margin-bottom: 0px" />
		</div>
	[% FOR source = sources -%]
		<br/>
	[%- END -%]
		<div id="content">
		[% content %]
		</div>
	</body>
</html>
