<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html>
	<head>
		<title>Perl Module Documentation</title>
		<style type="text/css">
			
		</style>
	</head>
	<frameset rows="45,*">
		<frame name="headding"	src="?page=module_head&amp;module=[% module %]&amp;location=[% location %]"></frame>
		<frame name="contents"	src="?page=pod&amp;module=[% module %]&amp;location=[% location %]"></frame>
	</frameset>
</html>

