[% PROCESS strings.tmpl -%]
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-AU" xml:lang="en-AU">
	<head>
		<title>[% module %] - [% view %]</title>
		<meta http-equiv="Content-Type"		content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language"	content="en-au" />
		<meta name="author"		 content="Ivan Wills" />
		<meta name="copyright"	 content="Copyright (c) 2006 Ivan Wills, All Rights Reserved" />
		<meta name="description" content="" />
		<meta name="keywords"	 content="" />
		<style type="text/css">
		<!--/* <![CDATA[ */
			@import url("?page=common.css");
			@import url("?page=[% StyleSheet || 'cpan' %].css");
	[%- current_file = 0 -%]
	[%- IF sources.size > 1 -%]
		[%- file_count = 0 -%]
		[%- FOR src = sources -%]
			[%- file_count = file_count + 1 %]
			[%- IF src.file != source %]
			#file_[% file_count %],
			[%- ELSE -%]
				[%- current_file = file_count -%]
			[%- END -%]
		[%- END %]
			#file_[% file_count + 1 %] {
				display: none;
			}
	[%- END %]
		/* ]]> */-->
		</style>
		<script type="text/javascript">
		<!--
			var current_file = [% current_file %];
			function change_file() {
				var select  = document.getElementById('file_selector');
				var index   = select.selectedIndex;
				var current = document.getElementById('file_' + current_file);
				var next    = document.getElementById('file_' + select.options[index].value);

				current.style.display = 'none';
				next.style.display    = 'block';
				current_file = select.options[index].value;
			}
			window.parent.menu.click_module('[% module.substr(0,1) %]__[% location %]__[% module.replace(':','_') %]');
		//-->
		</script>
	</head>
	<body>
		<div id="headding">
			<table>
				<tr>
	[%- IF !first %][% first = 1 %]
					<th rowspan="[% sources.size %]">[% module %]</th>
	[% END %]
					<td>
	[%- file_count = 0 %]
	[%- FOR src = sources -%]
		[%- file_count = file_count + 1 %]
						<div id="file_[% file_count %]" style="float: right">
			[%- UNLESS src.file == source and page == 'pod' %]
							<a title="Documentation [% module %]"  href="?page=pod&amp;module=[% module %]&amp;file=[% file %]&amp;location=[% location %]&amp;source=[% src.file %]">
			[%- ELSE -%]<b>
			[%- END -%][% str_head_pod %]
			[%- IF src.file == source and page == 'pod' -%]</b>[%- ELSE -%]</a>[%- END %]
		[%- IF show_text %]
							|
			[%- UNLESS src.file == source and page == 'text' %]
							<a title="Documentation [% module %]"  href="?page=text&amp;module=[% module %]&amp;file=[% file %]&amp;location=[% location %]&amp;source=[% src.file %]">
			[%- ELSE -%]<b>
			[%- END -%][% str_head_text %]
			[%- IF src.file == source and page == 'text' -%]</b>[%- ELSE -%]</a>[%- END %]
		[%- END -%]
		[%- UNLESS src.suffix == 'pod' %]
							|
			[%- UNLESS src.file == source and page == 'api' %]
							<a title="Functions defined, modules used, inheritance etc" href="?page=api&amp;module=[% module %]&amp;file=[% file %]&amp;location=[% location %]&amp;source=[% src.file %]">
			[%- ELSE -%]<b>
			[%- END -%][% str_head_api %]
			[%- IF src.file == source and page == 'api' -%]</b>[%- ELSE -%]</a>[%- END %]
		[%- END %]
							|
			[%- UNLESS src.file == source and page == 'code' %]
							<a title="View source code" href="?page=code&amp;module=[% module %]&amp;file=[% file %]&amp;location=[% location %]&amp;source=[% src.file %]">
			[%- ELSE -%]<b>
			[%- END -%][% str_head_code %]
			[%- IF src.file == source and page == 'code' -%]</b>[%- ELSE -%]</a>[%- END %]
		[%- IF location != 'local' %]
							| <a title="See latest documentation on CPAN" href="http://search.cpan.org/search?query=[% IF location == 'perl' %]pod::[% END %][% module %]&amp;mode=module">
								CPAN
							</a>
		[%- END %]
						</div>
	[%- END -%]
	[%- IF sources.size > 1 %]
						<div style="display: block; float: right">&nbsp;:&nbsp;</div>
		[%- file_count = 0 %]
						<div style="display: block; float: right">
							<select id="file_selector" onchange="change_file();">
		[%- FOR src = sources -%]
			[%- file_count = file_count + 1 %]
								<option value="[% file_count %]"[% IF src.file == source %] selected="selected"[% END %]>[% src.file %]</option>
		[%- END %]
							</select>
						</div>
	[%- END -%]
					</td>
				</tr>
			</table>
			<pre>
				[%# DUMP %]
			</pre>
			<hr/>
		</div>
		<br/>
		<div id="content">
		[% content %]
		</div>
	</body>
</html>
