<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-AU" xml:lang="en-AU">
	<head>
		<title>[% module %] - [% view %]</title>
		<meta http-equiv="Content-Type"		content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language"	content="en-au" />
		<meta name="author"		 content="Ivan Wills" />
		<meta name="copyright"	 content="Copyright (c) 2006 Ivan Wills, All Rights Reserved" />
		<meta name="description" content="" />
		<meta name="keywords"	 content="" />
		<style type="text/css">
		<!--/* <![CDATA[ */
			@import url("?page=common.css");
			@import url("?page=[% StyleSheet || 'cpan' %].css");
		/* ]]> */-->
		</style>
		<script type="text/javascript">
		<!--

		//-->
		</script>
	</head>
	<body>
		<div id="headding">
			<table>
	[%- FOR source = sources -%]
				<tr>
		[%- IF !first %][% first = 1 %]
					<th rowspan="[% sources.size %]">[% module %]</th>
		[% END %]
					<td>
		[%- IF sources.size > 1 %]
						[% source.file %]:
		[%- END -%]
						<a title="Documentation [% module %]"  href="?page=pod&amp;module=[% module %]&amp;file=[% file %]&amp;location=[% location %]&amp;source=[% source.file %]"> POD </a>
		[%- IF show_text %]
						| <a title="Documentation [% module %]"  href="?page=text&amp;module=[% module %]&amp;file=[% file %]&amp;location=[% location %]&amp;source=[% source.file %]"> Text </a>
		[%- END -%]
		[%- UNLESS source.suffix == 'pod' %]
						| <a title="Functions defined, modules used, inheritance etc" href="?page=api&amp;module=[% module %]&amp;file=[% file %]&amp;location=[% location %]&amp;source=[% source.file %]"> API </a>
		[%- END %]
						| <a title="View source code" href="?page=code&amp;module=[% module %]&amp;file=[% file %]&amp;location=[% location %]&amp;source=[% source.file %]">CODE</a>
		[%- IF location != 'local' %]
						| <a title="See latest documentation on CPAN" href="http://search.cpan.org/search?query=[% IF location == 'pod' %]pod::[% END %][% module %]&amp;mode=module"> CPAN</a>
		[%- END %]
					</td>
				</tr>
	[%- END -%]
			</table>
			<pre>
				[%# DUMP %]
			</pre>
			<hr/>
		</div>
	[% FOR source = sources -%]
		<br/>
	[%- END -%]
		<div id="content">
		[% content %]
		</div>
	</body>
</html>
